#input-container {
  width: 504px;
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: auto;
  display: block;
}

button {
  padding: 7px;
  margin: 2px;
  border-radius: 3px;
  border: 1pt darkred;
  color: darkred;

#canvas {
  background: #607D8B;
  display: block;
  margin: auto;
}